language: ruby
rvm:
  - 2.4.1
cache: bundler
script:
  - bundle exec rake
notifications:
  slack:
    secure: "AMximRC5Ot0LC3wFSsjohxfhpcLrt/MESwf6tdVZ31jPlTXSv0yOna2w12Cc1Npdo1N/zGSnA0Y/9px0eV1ip6lBlOURuS8P6ySRJAldLpqzxnmeN8A/Q53QGhNgrXDxrlOl8V1CUXyzNyMeDrFkeHgAR+fbjbep1JtDBaM0x3pNpRmZiCZF0DP2bibsc6jifMOHElLqFXg7sQoyOaDQSeU7Siv2qi5AQO3rjuMCEYsDAo+pmBk7cHYUKtmimJjbWqeg1s+dsQX2m8jsFJFqkgFzduE1PGWekU7MjXnTB0mSfbVjencau0Vsr4oQO28eBYrNMNLDv7fiD2CxTybHLifomQ2as1X5/jrtVFQAhPTNK12Syd73G5zvK9LjF+yasvbeu23DpID2BhkTzqazjBWK2BbSIqSAxa+Tgefk4Zybzq8vmQwuMtMULgBByTEZMjyqhNtfZAK7Ly1X0GBSArwDyi8GJLTD0sbiMKESb/uA5uKL5MjFVg+zdstssxRtiWjUEiFQp0ktYIO8yvuO35Qb9vfa7LD4aUcu2k5swo+gsb5ThyCheJ+SSghVxVbGfLolmBr08hVt7ZuD5c0MpzGy7GeOip7t6owXc/RUz6QNNLNwa6NRCFqH3F/rZsczN2OVKi+m2wOGpGwGKaN3EDsLT/pkNoeuqhy/iUm2d7U="
